.btn {
  width: 10rem;
  height: 4rem;
  border: none;
  appearance: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: 20px;
}
.btn:hover {
  background-color: #ea9daa;
  color: #fff;
}
